<template>
    <div class="container">
        <h3>Using video.js as a player</h3>
        <video id="video" class="video-js vjs-default-skin" controls preload="auto" 
            data-setup='{ "asdf": true }' poster="http://video-js.zencoder.com/oceans-clip.png" >
            <source src="https://vjs.zencdn.net/v/oceans.mp4" type='video/mp4'>
            <source src="https://vjs.zencdn.net/v/oceans.webm" type='video/webm'>
        </video>
    </div>
</template>

<script>
/* eslint-disable */
import video_css from 'video.js/dist/video-js.min.css';
import videojs from 'video.js';

export default {
    name: 'AppPlayer',
    data: () => {
        return {
            player: null,
            options: {
                controls: true,
                width: 320,
                height: 240,
                fluid: false,
            }
        }
    },
    beforeDestroy(){
        this.player.dispose();
    },
    mounted() {
        this.player = videojs('#video', this.options, function() {
            // print version information at startup
            var msg = 'Using video.js ' + videojs.VERSION +
                ' with videojs-record ' + videojs.getPluginVersion('record') +
                ' and recordrtc ' + RecordRTC.version;
            videojs.log(msg);
        });
    }
};
</script>

<style scoped>
div.container{
    width: 600px;
    height: 600px;
}
</style>