<template>
    <div class="container">
        <h3>Using video.js as a recorder</h3>
        <video class="video-js vjs-default-skin" id="video"></video>
    </div>
</template>

<script>
/* eslint-disable */
import 'video.js/dist/video-js.css';
import 'videojs-record/dist/css/videojs.record.css';
import videojs from 'video.js';

import 'webrtc-adapter';
import RecordRTC from 'recordrtc';
import Record from 'videojs-record/dist/videojs.record.js';

export default {
    name: 'AppRecorder',
    data: () => {
        return {
            player: null,
            options: {
                controls: false,
                width: 200,
                height: 200,
                fluid: true,
                plugins: {
                    record: {
                        audio: true,
                        video: true,
                        maxLength: 10,
                        debug: true
                    }
                }
            }
        }
    },
    beforeDestroy(){
        this.player.dispose();
    },
    mounted() {
        this.player = videojs('#video', this.options, function() {
            // print version information at startup
            var msg = 'Using video.js ' + videojs.VERSION +
                ' with videojs-record ' + videojs.getPluginVersion('record') +
                ' and recordrtc ' + RecordRTC.version;
            videojs.log(msg);
        });
    }
};
</script>

<style scoped>
div.container{
    width: 600px;
    height: 600px;
}
</style>