<template>
  <div>
    <router-link to="/recorder">
      <button>Recorder</button>
    </router-link>
    <router-link to="/player">
      <button>Player</button>
    </router-link>
    <router-view />
  </div>
</template>

<style scoped>
button{
  width: 300px;
  height: 64px;
  background: #950;
  color: white;
  font-size: 18px;
}
</style>